/* RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 1
  Author: Han Yeeun
  ID: s3912055
  Acknowledgement: Acknowledge the resources that you use here. */
body{
    background-color: #FFFAF5;
}

.website_container{
    display: flex;
    min-width: min-content;
    margin-top: 30px;
}
.website_container > img{
    width: 435px;
    margin-left: 15%;
    margin-bottom: 30px;
}

.contactform{
    width: 700px;
    height: 100%;
    min-width: 500px;
    margin-right: 15%;
    margin-bottom: 30px;
    background-color: white;
    padding-bottom: 20px;
}
#contact_title{
    font-family: "Suisse Works Bold";
    font-size: 45px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 30px ;
}

.contactform_container{
    margin-top: 30px;
    margin-left: 33px ;
    margin-right: 33px ;
    font-size: 16px;
    font-weight: 600;
}

.contactform_container > div> label, .contactform_container > label{
    font-family: "Suisse Works Bold";
}

#purpose{
    width: 100%;
    height: 30px;
    border-radius: 12px;
}

.contact_checkbox{
    display: flex;
    margin-top: 20px;
}
.contact_checkbox > p{
    margin-right: 35px;
    font-family: "Suisse Works Bold";
}
.contact_checkbox > label{
    font-size: 15px;
    font-weight: 400;
    margin-right: 20px;
}

#email, #phone, #yesbox, #nobox{
    font-family: 'Montserrat', sans-serif;
}

#textcontainer{
    display: flex;
    margin-top: 25px;
}
#textcontainer>p{
    margin-right: 10px;
    font-family: "Suisse Works Bold"
}
textarea{
    width: 90%;
    height: 120px;
    resize: none;
}

.contact_btn{
    margin: 25px 15%;
   min-width: 200px;
}
#p-info{
    font-family: "Suisse Works Bold";
    margin-top: 20px;
}
.icon1 {
    margin-top: 20px;
  }
  .input-container {
    height: 35px;
    position: relative;
    width: 100%;
  }
  .input {
    border-radius: 12px;
    border: 1px solid black;
    box-sizing: border-box;
    color: #000000;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: white;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 80px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #7c7c7c;
    left: 25px;
    line-height: 5px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: black;
  }
  
  fieldset {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    margin-top: 10px;
  }
  fieldset label {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    display: block;
    margin: 1em;
  }
  fieldset label > input {
    display: none;
  }
  fieldset label span {
    color: #000000;
  }
  fieldset label i {
    display: inline-block;
    width: 64px;
    height: 30px;
    border-radius: 20px;
    vertical-align: middle;
    transition: 0.25s 0.09s;
    position: relative;
    background: #ffddd7;
  }
  fieldset label i:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 11px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    transition: 0.15s;
  }
  fieldset label > input:checked + i {
    background: #FB5940;
  }
  
  fieldset label > input:checked + i:after {
    transform: translateX(25px);
  }
  ul {
    list-style-type: none;
    padding-left: 50px;
    margin: 0;
  }
  .contact_checkbox1{
    display: flex; 
    flex-direction: column; 
  }
.contact_checkbox1 > p{
    margin-right: 35px;
    margin-top: 20px;
    font-family: "Suisse Works Bold";
}
/* button */
.contact_btn{
    justify-content: center;
}
#contact_btn_submit{
    background-color: #FB5940;
    color: white;
    border: none;
    border-radius: 10px;
    width: 110%;
    height: 40px;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 10px;
}
#contact_btn_submit:before {
    height: 0%;
    width: 2px;
  }
#contact_btn_submit:hover {
    box-shadow:  1px 2px 3px 0 rgba(255,255,255,.5),
                -1px -2px 3px 0 rgba(116, 125, 136, .5), 
      inset -1px -1px 3px 0 rgba(255,255,255,.2),
      inset 1px 1px 3px 0 rgba(0, 0, 0, .4);
  }

#contact_btn_reset{
    background-color: white;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
    width: 110%;
    height: 40px;
    font-weight: 900;
    font-size: 18px;
}
#contact_btn_reset:before {
    height: 0%;
    width: 2px;
  }
#contact_btn_reset:hover {
    box-shadow:  1px 2px 3px 0 rgba(255,255,255,.5),
                -1px -2px 3px 0 rgba(116, 125, 136, .5), 
      inset -1px -1px 3px 0 rgba(255,255,255,.2),
      inset 1px 1px 3px 0 rgba(0, 0, 0, .4);
  }

  @media screen and (max-width:768px) {
    body{
        background-color: white;
    }
    .website_container img{
        display: none;
    }
    .website_container{
        margin: 0;
        padding: 0;
        width: 100%;
        margin: 0;
    }

    #textcontainer{
        display: flex;
        flex-direction: column;
    }
    #textcontainer textarea{
        width: 100%;
    }

    .contactform{
        width: 100%;
        height: 100%;
    }
    .contact_checkbox label{
        margin: 0;
    }
    .contact_checkbox input{
        margin: 5px;
    }
  }